/* sets up stationary animations for each racer and their shadows, 
moving animtations are set to the track lane on track.css  */

.pupShadow {
    z-index: 20;
    height: 110px;
    width: 110px;
    opacity: 13%;
    filter: brightness(0%) blur(2px);
    transform: scale3d(0.77,0.77,0.77) translate3d(0px,-14px, 0px) matrix(1, 0, 1, 1, -35, -57);
    background-image: url('./img/pup.png');
}
.pup {
    z-index: 20;
    height: 110px;
    width: 110px;
    transform: scale3d(0.77,0.77,0.77) translate3d(0px,-64px, 0px);
    background-image: url('./img/pup.png');
}
#pup, #pupShadow {
    animation: pupIdle 1.7s steps(5) infinite;
}
#pupIdle, #pupIdleShadow {
    animation: pupIdle 1.3s steps(5) infinite;
}
@keyframes pupIdle {
    from {
        background-position: -990px;
    } 
    to {
        background-position: -1540px;
    }
}
#pupMove, #pupMoveShadow {
    animation: pupMove 1.5s steps(5) infinite;
}
@keyframes pupMove {
    from {
        background-position: -1430px;
    } 
    to {
        background-position: -1980px;
    }
}
#pupClick, #pupClickShadow {
    animation: pupClick 2s steps(9) infinite;
}
@keyframes pupClick {
    from {
        background-position: 0px;
    } 
    to {
        background-position: -990px;
    }
}
.pupWin {
    display: inline-block;
    grid-area: 2/2;
    height: 110px;
    width: 110px;
    transform: scale3d(1,1,1) translate3d(0px,-64px, 0px);
    background-image: url('./img/pup.png');
    /* animation: pupClick 2s steps(9) infinite; */
}
.pupWinShadow {
    display: inline-block;
    grid-area: 2/2;
    height: 110px;
    width: 110px;
    opacity: 11%;
    filter: brightness(0%) blur(2px);
    transform: scale3d(1,1,1) translate3d(0px,54px, 0px) matrix(1, 0, 1, 1, -35, -57);
    background-image: url('./img/pup.png');
    /* animation: pupClick 2s steps(9) infinite; */
}


.danShadow {
    z-index: 21;
    height: 110px;
    width: 110px;
    opacity: 8%;
    filter: brightness(0%) blur(2px);
    transform: scale3d(0.77,0.77,0.77) translate3d(0px,-13px, 0px) matrix(1, 0, 1, 1, -35, -57);
    background-image: url('./img/dan.png');
}
.dan {
    z-index: 21;
    height: 110px;
    width: 110px;
    transform: scale3d(0.77,0.77,0.77) translate3d(0px,-64px, 0px);
    background-image: url('./img/dan.png');
}
#dan, #danShadow {
    animation: danIdle 1.5s steps(5) infinite;
}
#danIdle, #danIdleShadow {
    animation: danIdle 1.5s steps(5) infinite;
}
@keyframes danIdle {
    from {
        background-position: -1320px;
    } 
    to {
        background-position: -1870px;
    }
}
#danMove, #danMoveShadow {
    animation: danMove 1.5s steps(8) infinite;
}
@keyframes danMove {
    0% {
        background-position: -1870px;
    } 
    100% {
        background-position: -2750px;
    }
}
#danClick, #danClickShadow {
    animation: danClick 3s steps(12) infinite;
    /* animation-iteration-count: 3; */
}
@keyframes danClick {
    from {
        background-position: 0px;

    } 
    to {
        background-position: -1320px;

    }
}
.danWin {
    display: inline-block;
    grid-area: 2/2;
    height: 110px;
    width: 110px;
    transform: scale3d(1,1,1) translate3d(0px,-64px, 0px);
    background-image: url('./img/dan.png');
    /* animation: danClick 3s steps(12) infinite; */
}
.danWinShadow {
    display: inline-block;
    grid-area: 2/2;
    height: 110px;
    width: 110px;
    opacity: 10%;
    filter: brightness(0%) blur(2px);
    transform: scale3d(1,1,1) translate3d(0px,0px, 0px) matrix(1, 0, 1, 1.2, -15, -10);
    background-image: url('./img/dan.png');
    animation: danClick 3s steps(12) infinite;
}

.honeyShadow {
    z-index: 22;
    height: 70px;
    width: 70px;
    opacity: 8%;
    filter: brightness(0%) blur(2px);
    transform: scale3d(0.8,0.8,0.8) translate3d(0px,-23px, 0px) matrix(1, 0, 1, 1.2, -15, -10);
    background-image: url('./img/honey.png');
}
.honey {
    z-index: 22;
    height: 70px;
    width: 70px;
    transform: scale3d(0.8,0.8,0.8) translate3d(0px,-30px, 0px);
    background-image: url('./img/honey.png');
}
#honey, #honeyShadow {
    animation: honeyMove 1.5s steps(9) infinite;
}
#honeyIdle, #honeyIdleShadow {
    animation: honeyIdle 1.5s steps(5) infinite;
    /* animation-iteration-count: 3; */
}
#honeyMove {
    animation: honeyMove 1.5s steps(9) infinite;
}
@keyframes honeyIdle {
    from {
        background-position: -840px;
    } 
    to {
        background-position: -1190px;
    }
}
#honeyMoveShadow {
    animation: honeyMoveShadow 1.5s steps(9) infinite;
}
@keyframes honeyMove {
    0% {
        background-position: -1120px;
    } 
    100% {
        background-position: -1750px;
    }
}
@keyframes honeyMoveShadow {
    0% {
        background-position: -1120px;
        transform: scale3d(0.8,0.8,0.8) translate3d(0px,-23px, 0px) matrix(1, 0, 1, 1.2, -13, 20);
    } 
    100% {
        background-position: -1750px;
        transform: scale3d(0.8,0.8,0.8) translate3d(0px,-23px, 0px) matrix(1, 0, 1, 1.2, -13, 25);
    }
}
#honeyClick {
    animation: honeyClick 2s steps(12) infinite;
    /* animation-iteration-count: 3; */
}
@keyframes honeyClick {
    0% {
        background-position: 0px;
        transform: scale3d(0.8,0.8,0.8) translate3d(0px,-33px, 0px);
    } 
    50% {
        transform: scale3d(0.8,0.8,0.8) translate3d(0px,-50px, 0px);
    }
    100% {
        background-position: -840px;
        transform: scale3d(0.8,0.8,0.8) translate3d(0px,-33px, 0px);
    }
}
#honeyClickShadow {
    animation: honeyClickShadow 2s steps(12) infinite;
    /* animation-iteration-count: 3; */
}
@keyframes honeyClickShadow {
    0% {
        background-position: 0px;
        transform: scale3d(0.8,0.8,0.8) translate3d(0px,-33px, 0px) matrix(1, 0, 1, 1.2, -10, 10);
    } 
    50% {
        transform: scale3d(0.8,0.8,0.8) translate3d(0px,-50px, 0px) matrix(1, 0, 1, 1.2, -10, 40);
    }
    100% {
        background-position: -840px;
        transform: scale3d(0.8,0.8,0.8) translate3d(0px,-33px, 0px) matrix(1, 0, 1, 1.2, -10, 5);
    }
}


.goldenShadow {
    z-index: 23;
    height: 95px;
    width: 95px;
    opacity: 10%;
    filter: brightness(0%) blur(2px);
    transform: scale3d(0.8,0.8,0.8) translate3d(0px,-53px, 0px) matrix(1, 0, 1, 1.2, -35, -10);
    background-image: url('./img/golden.png');
}
.golden {
    z-index: 23;
    height: 95px;
    width: 95px;
    transform: scale3d(0.8,0.8,0.8) translate3d(0px,-53px, 0px);
    background-image: url('./img/golden.png');
}
#golden, #goldenShadow {
    animation: goldenIdle 3s steps(7) infinite;
}
#goldenIdle, #goldenIdleShadow {
    animation: goldenIdle 2s steps(7) infinite;
}
@keyframes goldenIdle {
    from {
        background-position: -760px;
    } 
    to {
        background-position: -1425px;
    }
}
#goldenClick {
    animation: goldenClick 1.5s steps(11);
    animation-iteration-count: 2;
}
@keyframes goldenClick {
    0% {
        background-position: 0px;
        transform: scale3d(0.8,0.8,0.8) translate3d(0px,-53px, 0px);
    } 
    40% {
        transform: scale3d(0.8,0.8,0.8) translate3d(0px,-67px, 0px);
    }
    50% {
        transform: scale3d(0.8,0.8,0.8) translate3d(0px,-53px, 0px);
    }
    100% {
        background-position: -1045px;
        transform: scale3d(0.8,0.8,0.8) translate3d(0px,-53px, 0px);
    }
}
#goldenMove {
    animation: goldenMove 2s steps(8) infinite;
}
#goldenClickShadow {
    animation: goldenClickShadow 1.5s steps(11);
    animation-iteration-count: 2;
}
@keyframes goldenClickShadow {
    0% {
        background-position: 0px;
        transform: scale3d(0.8,0.8,0.8) translate3d(0px,-53px, 0px) matrix(1, 0, 1, 1.2, -35, -10);
    } 
    40% {
        transform: scale3d(0.8,0.8,0.8) translate3d(0px,-67px, 0px) matrix(1, 0, 1, 1.2, -35, 10);
    }
    50% {
        transform: scale3d(0.8,0.8,0.8) translate3d(0px,-53px, 0px) matrix(1, 0, 1, 1.2, -35, -10);
    }
    100% {
        background-position: -1045px;
        transform: scale3d(0.8,0.8,0.8) translate3d(0px,-53px, 0px) matrix(1, 0, 1, 1.2, -35, -10);
    }
}
#goldenMoveShadow {
    animation: goldenMove 2s steps(8) infinite;
}
@keyframes goldenMove {
    from {
        background-position: -1615px;
    } 
    to {
        background-position: -2375px;
    }
}
.goldenWin {
    z-index: 23;
    height: 95px;
    width: 95px;
    transform: scale3d(1,1,1) translate3d(0px,-10px, 0px);
    background-image: url('./img/golden.png');
    animation: goldenWin 1.5s steps(11) ;
    animation-iteration-count: 2;
}
@keyframes goldenWin {
    0% {
        background-position: 0px;
        transform: scale3d(1,1,1) translate3d(0px,-10px, 0px);
    } 
    40% {
        transform: scale3d(1,1,1) translate3d(0px,-20px, 0px);
    }
    50% {
        transform: scale3d(1,1,1) translate3d(0px,-10px, 0px);
    }
    100% {
        background-position: -1045px;
        transform: scale3d(1,1,1) translate3d(0px,-10px, 0px);
    }
}
.goldenWinShadow {
    z-index: 2;
    height: 95px;
    width: 95px;
    opacity: 10%;
    filter: brightness(0%) blur(2px);
    transform: scale3d(1,1,1) translate3d(0px,-10px, 0px) matrix(1, 0, 1, 1.2, -35, -10);
    background-image: url('./img/golden.png');
    animation: goldenWinShadow 1.5s steps(11) ;
    animation-iteration-count: 2;
}
@keyframes goldenWinShadow {
    0% {
        background-position: 0px;
        transform: scale3d(1,1,1) translate3d(0px,-20px, 0px) matrix(1, 0, 1, 1.2, -35, -10);
    } 
    40% {
        transform: scale3d(1,1,1) translate3d(0px,-30px, 0px) matrix(1, 0, 1, 1.2, -35, 10);
    }
    50% {
        transform: scale3d(1,1,1) translate3d(0px,-20px, 0px) matrix(1, 0, 1, 1.2, -35, -10);
    }
    100% {
        background-position: -1045px;
        transform: scale3d(1,1,1) translate3d(0px,-20px, 0px) matrix(1, 0, 1, 1.2, -35, -10);
    }
}

.foxyShadow {
    z-index: 24;
    height: 95px;
    width: 95px;
    opacity: 10%;
    filter: brightness(0%) blur(2px);
    transform: scale3d(0.8,0.8,0.8) translate3d(0px,0px, 0px) matrix(1, 0, 1, 1.2, -28, -50);
    background-image: url('./img/foxy.png');
}
.foxy {
    z-index: 24;
    height: 95px;
    width: 95px;
    transform: scale3d(0.8,0.8,0.8) translate3d(0px, -45px, 0px);
    background-image: url('./img/foxy.png');
}
#foxy, #foxyShadow {
    animation: foxyIdle 3s steps(12) infinite;
}
#foxyIdle, #foxyIdleShadow {
    animation: foxyIdle 2.3s steps(12) infinite;
}
@keyframes foxyIdle {
    from {
        background-position: -760px;
    } 
    to {
        background-position: -1900px;
    }
}
#foxyClick, #foxyClickShadow {
    animation: foxyClick 1.5s steps(8);
    animation-iteration-count: 3;
}
@keyframes foxyClick {
    from {
        background-position: 0px;
    } 
    to {
        background-position: -760px;
    }
}
#foxyMove, #foxyMoveShadow {
    animation: foxyMove 0.7s steps(5) infinite;
}
@keyframes foxyMove {
    from {
        background-position: -1900px;
    } 
    to {
        background-position: -2375px;
    }
}
.foxyWin {
    z-index: 24;
    height: 95px;
    width: 95px;
    background-image: url('./img/foxy.png');
    transform: scale3d(1,1,1) translate3d(0px, 5px, 0px);
    animation: foxyClick 1.5s steps(8);
    animation-iteration-count: 3;
}
.foxyWinShadow {
    z-index: 24;
    height: 95px;
    width: 95px;
    opacity: 10%;
    filter: brightness(0%) blur(2px);
    transform: scale3d(1,1,1) translate3d(0px,0px, 0px) matrix(1, 0, 1, 1, -35, 0);
    background-image: url('./img/foxy.png');
    animation: foxyClick 1.5s steps(8);
    animation-iteration-count: 3;
}
