html {
  font-size: 16px;
  font-family: 'Open Sans', Impact, sans-serif;
}

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  font-style: italic;
}

.startbutton {
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 15;
  padding: 0;
  color:rgba(0, 0, 0, 0.63);
  cursor: pointer;
}
.container {
  display: grid;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  overflow: hidden;   
}

.inner-container {
  position: relative;
  width: 72.5rem;
  height: 47.5rem;
  background: url('./img/trackfull.jpg');
  background-size: cover;
  background-color: rgb(255, 255, 255);
  justify-self: center;
  align-self: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;   
}

/* win and winner are for only styling the final winners screen at the end of race */

.winnerCover {
  pointer-events: none;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  display: grid;
  width: 114.5rem;
  height: 75rem;
  grid-template-columns: 8rem 31.5rem 8rem;
  grid-template-rows: 5rem 4rem 4rem 4rem; 
  background: url('./img/trackfull.jpg');
  background-size: cover;
  background-position: 39% 30%;
  opacity: 0%;
  overflow: visible;
  justify-content: center; 
  align-content: center;
  justify-items: center;
  align-items: center;
  transition: opacity 0.5s ease-in;
}

#winnerCover {
  opacity: 100%;
}

.winContainer {
  grid-area: 2/2;
  display: flex;
  transform: translate3d(0, 0.6rem, 0);
}

@media screen and (max-width: 900px) { 
  .inner-container {
    position: relative;
    width: 72.5rem;
    height: 47.5rem;
    background: url('./img/trackfullmobile.jpg');
    background-size: cover;
    background-color: rgb(255, 255, 255);
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;   
  }
}

@media (max-width: 639px) and (orientation: portrait) { 
  html { 
    font-size: 14.5px;
    overflow: hidden;
  }
  .container {
    transform: rotate(-90deg);
    overflow: visible;
  }
}

@media screen and (max-width: 740px) and (min-width: 716px) { 
  html {
    font-size: 15.2px;
  }
  .container {
    overflow-y: visible; 
    overflow-x: hidden; 
  }
}

@media screen and (max-width: 715px) and (min-width: 691px) { 
  html {
    font-size: 14.7px;
  }
  .container {
    overflow-y: visible; 
    overflow-x: hidden; 
  }
}

@media screen and (max-width: 690px) and (min-width: 666px) { 
  html {
    font-size: 14.2px;
  }
  .container {
    overflow-y: visible; 
    overflow-x: hidden; 
  }
}

@media screen and (max-width: 665px) and (min-width: 640px){ 
  html {
    font-size: 14px;
  }
  .container {
    overflow-y: visible; 
    overflow-x: hidden; 
  }
}

@media screen and (max-width: 639px) and (max-height: 639px){ 
  html {
    font-size: 14px;
  }
  .container {
    overflow-y: visible; 
    overflow-x: visible; 
  }
}
