.title {
    font-size: 44.8px;
    grid-area: 1/2;
    top: 8.8px;
    left: 80px;
    position: relative;
    text-align: center;
    width: 100%;
    margin: auto;
    height: 100%;
    color: rgb(194, 9, 9);
    overflow: auto;   
    /* scroll-snap-align: start; */
    }
.titleShadow {
    font-size: 44.8px;
    grid-area: 1/2;
    top: 48px;
    left: 81.6px;
    position: relative;
    text-align: center;
    width: 100%;
    margin: auto;
    height: 100%;
    color: rgba(0, 0, 0, 0.151);
    transform: matrix(1, 0, 1, 1.2, -17, -43);
    }

/* go/start is used for the start button, setting up a mark, set, go! animation. */

.go {
    cursor: pointer;
    font-size: 32px;
    grid-area: 1/1;
    top: 22.4px;
    left: 91.2px;
    position: relative;
    text-align: center;
    width: 100%;
    margin: auto;
    height: 100%;
}
#start {
    color: rgb(240, 240, 240);
}
#go {
    animation: go 3.9s ;
    animation-fill-mode: forwards;
}
@keyframes go {
    0% {
        color: rgb(240, 240, 240);
        transform:scale3d(1,1,1);
    }
    7% {
        color: rgb(255, 0, 0);
        transform:scale3d(1.2,1.2,1.2);
    }
    33% {
        color: rgb(236, 0, 0);
        transform:scale3d(1,1,1);
    }
    40% {
        color: rgb(255, 0, 0);
        transform:scale3d(1.2,1.2,1.2);
    }
    66% {
        color: rgb(235, 0, 0);
        transform:scale3d(1,1,1);
    }
    73% {
        color: rgb(0, 255, 0);
        transform:scale3d(1.2,1.2,1.2);
    }
    100% {
        color: rgb(0, 255, 0);
        transform:scale3d(1,1,1);
    }
}
.goShadow {
    font-size: 32px;
    grid-area: 1/1;
    top: 67.2px;
    left: 92.8px;
    position: relative;
    text-align: center;
    width: 100%;
    margin: auto;
    height: 100%;
    color: rgba(0, 0, 0, 0.151);
    transform: matrix(1, 0, 1, 1.2, -4, -45);
}

/* lane input and checkbox, are used to setup racers name as a checkbox to bring racer into the race,
enter a option for the decision maker part of the app, the entered option is only temperarily stored in racers state object with sponsor as key. */
label {
    left: -42%
  }
input {
    width: 256px;
    font-family: 'Open Sans', Impact, sans-serif;
    z-index: 1;
    background: none;
    border: 0;
    font-size: 19.2px;
    color:rgb(180, 180, 180);
}

.lane1input {
    grid-area: 2/2;   
    scroll-snap-align: start;
}
#lane1input {
    grid-area: 2/2;
    transform: matrix(1, 0, .15, 1, 15, 4);
}
.btnLane1 {
    z-index: 1;
    position: relative;
    grid-area: 2/2;
    background: none;
    border: 0;
    font-size: 28.8px;
    color:rgba(223, 223, 223, 0.4);
    transform: matrix(1, 0, .3, 1, 2, 3);
}
#setLane1 {
    z-index: 1;
    display: none;
}
.btnLane1:hover {
    color:rgba(223, 223, 223, 0.8);
}
#setLane1:checked + .btnLane1{
    color: rgba(1, 1, 221, 0.4);
}
#setLane1:checked + .btnLane1:hover{
    color: rgba(1, 1, 221, 0.8);
}


.lane2input {
    grid-area: 3/2;
}
#lane2input {
    grid-area: 3/2;
    transform: matrix(1, 0, .15, 1, 20, -0);
    /* scroll-snap-align: start; */
}
.btnLane2 {
    z-index: 1;
    position: relative;
    grid-area: 3/2;
    background: none;
    border: 0;
    font-size: 28.8px;
    color:rgba(223, 223, 223, 0.4);
    transform: matrix(1, 0, .3, 1, -5, -1);
}
#setLane2 {
    z-index: 1;
    display: none;
}
.btnLane2:hover {
    color:rgba(223, 223, 223, 0.8);
}
#setLane2:checked + .btnLane2{
    color: rgba(221, 1, 56, 0.4);
}
#setLane2:checked + .btnLane2:hover{
    color: rgba(221, 1, 56, 0.8);
}


.lane3input {
    grid-area: 4/2;
    /* scroll-snap-align: start; */
}
#lane3input {
    grid-area: 4/2;
    transform: matrix(1, 0, .15, 1, 25, -4);
}
.btnLane3 {
    z-index: 1;
    position: relative;
    grid-area: 4/2;
    background: none;
    border: 0;
    font-size: 28.8px;
    color:rgba(223, 223, 223, 0.4);
    transform: matrix(1, 0, .3, 1, -5, -5);
}
#setLane3 {
    z-index: 1;
    display: none;
}
.btnLane3:hover {
    color:rgba(223, 223, 223, 0.8);
}
#setLane3:checked + .btnLane3{
    color: rgba(255, 196, 0, 0.4);
}
#setLane3:checked + .btnLane3:hover{
    color: rgba(255, 196, 0, 0.8);
}


.lane4input {
    grid-area: 5/2;
}
#lane4input {
    grid-area: 5/2;
    transform: matrix(1, 0, .15, 1, 30, -4);
}
.btnLane4 {
    z-index: 1;
    position: relative;
    grid-area: 5/2;
    background: none;
    border: 0;
    font-size: 28.8px;
    color:rgba(223, 223, 223, 0.4);
    transform: matrix(1, 0, .3, 1, 7, -5);
}
#setLane4 {
    z-index: 1;
    display: none;
}
.btnLane4:hover {
    color:rgba(223, 223, 223, 0.8);
}
#setLane4:checked + .btnLane4{
    color: rgba(0, 255, 128, 0.4);
}
#setLane4:checked + .btnLane4:hover{
    color: rgba(0, 255, 128, 0.8);
}


.lane5input {
    grid-area: 6/2;
    /* scroll-snap-align: start; */
}
#lane5input {
    grid-area: 6/2;
    transform: matrix(1, 0, .15, 1, 35, -5);
}
.btnLane5 {
    z-index: 1;
    position: relative;
    grid-area: 6/2;
    background: none;
    border: 0;
    font-size: 28.8px;
    color:rgba(223, 223, 223, 0.4);
    transform: matrix(1, 0, .3, 1, -6, -4);
}
#setLane5 {
    z-index: 1;
    display: none;
}
.btnLane5:hover {
    color:rgba(223, 223, 223, 0.8);
}
#setLane5:checked + .btnLane5{
    color:  rgba(219, 69, 0, 0.5);
}
#setLane5:checked + .btnLane5:hover{
    color: rgba(216, 68, 0, 0.8);
}

/* winner text and sponsor are only used for results screen at end of each race,
sponsor is the input value of option/choice text that can be entered when selecting a racer,
as a feature of using the racers to help make decisions based on options entered.  */

.winnerText {
    z-index: 50;
    grid-area: 1/2;
    color: rgb(255, 0, 234);
    font-size: 64px;
    text-shadow: -2px -2px 2px rgba(0, 0, 0, 0.322);
    transform: matrix(1, 0, 1.5, .9, -550, -15);
    transition: 1s 0.5s;
}
#winnerText {
    transform: matrix(1, 0, 0, 1, 20, -15);
}
.winnerSponsor {
    grid-area: 3/2;
    font-size: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-shadow: -2px -2px 2px rgba(0, 0, 0, 0.322);
    color: rgb(255, 81, 241);
    transform: matrix(1, 0, 1.5, .9, -550, 0);
}
#winnerSponsor {
    animation: winner 1s linear 1.3s forwards;
}
.winner2Sponsor {
    grid-area: 4/2;
    font-size: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-shadow: -2px -2px 2px rgba(0, 0, 0, 0.322);
    color: rgb(255, 129, 244);
    transform: matrix(1, 0, 1.5, .9, -550, 0);
}
#winner2Sponsor {
    animation: winner2 1s linear 1.6s forwards;
}
@keyframes winner2 {
    from {
        transform: matrix(1, 0, 1.5, .9, -550, 0);
    }
    to {
        transform: matrix(1, 0, 0, 1, 25, 0);}
}
.winner3Sponsor {
    grid-area: 5/2;
    font-size: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-shadow: -2px -2px 2px rgba(0, 0, 0, 0.322);
    color: rgb(255, 169, 248);
    transform: matrix(1, 0, 1.5, .9, -550, 0);
}
#winner3Sponsor {
    animation: winner 1s linear 1.9s forwards;
}
@keyframes winner {
    from {
        transform: matrix(1, 0, 1.5, .9, -550, 0);
    }
    to {
        transform: matrix(1, 0, 0, 1, 0, 0);}
}

