
.grid-container {
    display: grid;
    position: relative;
    margin: 0;
    top: 50%;
    left: 48%;
    transform: translate(-75%, -50%);
    padding: 0 0;
    width: 47.5rem;
    height: 21.5rem;
    overflow: visible;
    grid-template-columns: 8rem 31.5rem 8rem;
    grid-template-rows: 4.2rem 2.9rem 2.9rem 2.9rem 3rem 3.1rem 2rem; 
    grid-row-gap: .2rem;
    /* justify-self:  center; */
    /* justify-content: center;  */
    align-content: center;
    justify-items: center;
    align-items: center;
}

/* lane is used to position the driver in that lane and move them across the track, 
laneSet sets them in starting position, laneOut is for when they're not set to race, 
laneSlow is for below average race time and laneFast is for above average race time */

.lane1 {
    z-index: 10;
    grid-area: 2/1;
    width: 6rem;
    position: absolute;
    justify-content: center; 
    align-content: center;
    justify-items: center;
    align-items: center;
    height: 3rem;
}
#lane1Set{
    transition: 2s linear;
    transform: translate3d(-20.5rem, -7.2rem, 0rem);
}
#lane1Slow {
    animation-name: lane1Slow;
    animation-fill-mode: forwards;
}
@keyframes lane1Slow {
    0% {
        transform: translate3d(-20.5rem, -7.2rem, 0rem);
        animation-timing-function: cubic-bezier(.58,0,.75,.76);
    }
    17% {
        transform: translate3d(-7.75rem, -7rem, 0rem);
        animation-timing-function: linear;
    }
    40% {
        transform: translate3d(8rem, -7.3rem, 0rem);
        animation-timing-function: linear;
    }
    60% {
        transform: translate3d(23.75rem, -7.1rem, 0rem);
        animation-timing-function: linear;
    }
    80% {
        transform: translate3d(37.5rem, -7.2rem, 0rem);
        animation-timing-function: linear;
    }
    100% {
        transform: translate3d(47.5rem, -7.1rem, 0rem);
    }

}
#lane1Fast {
    animation-name: lane1Fast;
    animation-fill-mode: forwards;
}
@keyframes lane1Fast {
    0% {
        transform: translate3d(-20.5rem, -7.2rem, 0rem);
        animation-timing-function: cubic-bezier(.58,0,.75,.76);
    }
    23% {
        transform: translate3d(-5.75rem, -7rem, 0rem);
        animation-timing-function: linear;
    }
    40% {
        transform: translate3d(8rem, -7.3rem, 0rem);
        animation-timing-function: linear;
    }
    60% {
        transform: translate3d(22.75rem, -7.1rem, 0rem);
        animation-timing-function: linear;
    }
    80% {
        transform: translate3d(37.5rem, -7.2rem, 0rem);
        animation-timing-function: linear;
    }
    100% {
        transform: translate3d(47.5rem, -7.2rem, 0rem);
    }

}
#lane1Out {
    transform: translate3d(-25.9rem, -7.2rem, 0rem);
}


.lane2 {
    z-index: 11;
    grid-area: 3/1;
    width: 6rem;
    position: absolute;
    justify-content: center; 
    align-content: center;
    justify-items: center;
    align-items: center;
    height: 3rem;
}
#lane2Set{
    transition: 2s ease-in-out;
    transform: translate3d(-21.3rem, -5.7rem, 0rem);
}
#lane2Slow {
    animation-name: lane2Slow;
    animation-fill-mode: forwards;
}
@keyframes lane2Slow {
    0% {
        transform: translate3d(-21.3rem, -5.7rem, 0rem);
        animation-timing-function: ease-in;
    }
    23% {
        transform: translate3d(-11.25rem, -5.5rem, 0rem);
        animation-timing-function: linear;
    }
    40% {
        transform: translate3d(2.5rem, -5.9rem, 0rem);
        animation-timing-function: linear;
    }
    60% {
        transform: translate3d(21.25rem, -5.5rem, 0rem);
        animation-timing-function: linear;
    }
    80% {
        transform: translate3d(37.9rem, -5.7rem, 0rem);
        animation-timing-function: linear;
    }
    100% {
        transform: translate3d(48rem, -5.7rem, 0rem);
    }
}
#lane2Fast {
    animation-name: lane2Fast;
    animation-fill-mode: forwards;
}
@keyframes lane2Fast {
    0% {
        transform: translate3d(-21.3rem, -5.7rem, 0rem);
        animation-timing-function: ease-in;}
    23% {
        transform: translate3d(-10.25rem, -5.9rem, 0rem);
        animation-timing-function: linear;
    }
    40% {
        transform: translate3d(1.5rem, -5.7rem, 0rem);
        animation-timing-function: linear;
    }
    60% {
        transform: translate3d(19.25rem, -5.8rem, 0rem);
        animation-timing-function: linear;
    }
    80% {
        transform: translate3d(37.9rem, -5.7rem, 0rem);
        animation-timing-function: linear;
    }
    100% {
        transform: translate3d(48rem, -5.7rem, 0rem);
    }
}
#lane2Out {
    transform: translate3d(-26rem, -5.7rem, 0rem);
}


.lane3 {
    z-index: 12;
    grid-area: 4/1;
    width: 6rem;
    position: absolute;
    justify-content: center; 
    align-content: center;
    justify-items: center;
    align-items: center;
    height: 3rem;
}
#lane3Set{
    transition: 2s ease-out;
    transform: translate3d(-19rem, -4.8rem, 0rem);
}
#lane3Slow {
    animation-name: lane3Slow;
    animation-fill-mode: forwards;
}
@keyframes lane3Slow {
    0% {
        transform: translate3d(-19rem, -4.8rem, 0rem);
        animation-timing-function: cubic-bezier(.58,0,.75,.76);
    }
    23% {
        transform: translate3d(-6.75rem, -5.8rem, 0rem);
        animation-timing-function: linear;
    }
    40% {
        transform: translate3d(8rem, -5.4rem, 0rem);
        animation-timing-function: linear;
    }
    60% {
        transform: translate3d(26.25rem, -6.3rem, 0rem);
        animation-timing-function: linear;
    }
    80% {
        transform: translate3d(40.6rem, -5.7rem, 0rem);
        animation-timing-function: linear;
    }
    100% {
        transform: translate3d(52rem, -4.8rem, 0rem);
    }

}
#lane3Fast {
    animation-name: lane3Fast;
    animation-fill-mode: forwards;
}
@keyframes lane3Fast {
    0% {
        transform: translate3d(-19rem, -4.8rem, 0rem);
        animation-timing-function: cubic-bezier(.58,0,.75,.76);
    }
    23% {
        transform: translate3d(-5.75rem, -5.5rem, 0rem);
        animation-timing-function: linear;
    }
    40% {
        transform: translate3d(8rem, -6rem, 0rem);
        animation-timing-function: linear;
    }
    60% {
        transform: translate3d(22.25rem, -5.3rem, 0rem);
        animation-timing-function: linear;
    }
    80% {
        transform: translate3d(40.6rem, -5.7rem, 0rem);
        animation-timing-function: linear;
    }
    100% {
        transform: translate3d(52rem, -4.8rem, 0rem);
    }

}
#lane3Out {
    transform: translate3d(-25.1rem, -5.3rem, 0rem);
}


.lane4 {
    z-index: 13;
    grid-area: 5/1;
    width: 6rem;
    height: 3rem;
    position: absolute;
    justify-content: center; 
    align-content: center;
    justify-items: center;
    align-items: center;
}
#lane4Set{
    transition: 2s ease-out;
    transform: translate3d(-20rem, -5rem, 0rem);
}
#lane4Slow {
    animation-name: lane4Slow;
    animation-fill-mode: forwards;
}
@keyframes lane4Slow {
    0% {
        transform: translate3d(-20rem, -5rem, 0rem);
        animation-timing-function: cubic-bezier(.58,0,.75,.76);
    }
    23% {
        transform: translate3d(-7.25rem, -5.1rem, 0rem);
        animation-timing-function: linear;
    }
    40% {
        transform: translate3d(7.5rem, -5.1rem, 0rem);
        animation-timing-function: linear;
    }
    60% {
        transform: translate3d(23.25rem, -5rem, 0rem);
        animation-timing-function: linear;
    }
    80% {
        transform: translate3d(40.7rem, -4.7rem, 0rem);
        animation-timing-function: linear;
    }
    100% {
        transform: translate3d(52rem, -4.9rem, 0rem);
    }
}
#lane4Fast {
    animation-name: lane4Fast;
    animation-fill-mode: forwards;
}
@keyframes lane4Fast {
    0% {
        transform: translate3d(-20rem, -5rem, 0rem);
        animation-timing-function: cubic-bezier(.58,0,.75,.76);
    }
    23% {
        transform: translate3d(-6.25rem, -4.8rem, 0rem);
        animation-timing-function: linear;
    }
    40% {
        transform: translate3d(9rem, -5.1rem, 0rem);
        animation-timing-function: linear;
    }
    60% {
        transform: translate3d(26.25rem, -5rem, 0rem);
        animation-timing-function: linear;
    }
    80% {
        transform: translate3d(40.7rem, -5.1rem, 0rem);
        animation-timing-function: linear;
    }
    100% {
        transform: translate3d(52rem, -4.9rem, 0rem);
    }
}
#lane4Out {
    transform: translate3d(-25.8rem, -5rem, 0rem);
}


.lane5 {
    z-index: 14;
    grid-area: 6/1;
    width: 6rem;
    height: 3rem;
    position: absolute;
    justify-content: center; 
    align-content: center;
    justify-items: center;
    align-items: center;
}
#lane5Set{
    transition: 2s ease-out;
    transform: translate3d(-19.7rem, -1rem, 0rem);
}
#lane5Slow {
    animation-name: lane5Slow;
    animation-fill-mode: forwards;
}
@keyframes lane5Slow {
    0% {
        transform: translate3d(-19.7rem, -1rem, 0rem);
        animation-timing-function: ease-in;
    }
    23% {
        transform: translate3d(-3.25rem, -1.5rem, 0rem);
        animation-timing-function: linear;
    }
    40% {
        transform: translate3d(11.5rem, -0.5rem, 0rem);
        animation-timing-function: linear;
    }
    60% {
        transform: translate3d(27.25rem, -1.5rem, 0rem);
        animation-timing-function: linear;
    }
    80% {
        transform: translate3d(42rem, -1rem, 0rem);
        animation-timing-function: linear;
    }
    100% {
        transform: translate3d(53rem, -1rem, 0rem);
    }
}
#lane5Fast {
    animation-name: lane5Fast;
    animation-fill-mode: forwards;
}
@keyframes lane5Fast {
    0% {
        transform: translate3d(-19.7rem, -1rem, 0rem);
        animation-timing-function: ease-in;
    }
    23% {
        transform: translate3d(-3.25rem, -1.5rem, 0rem);
        animation-timing-function: linear;
    }
    40% {
        transform: translate3d(10.5rem, -0.5rem, 0rem);
        animation-timing-function: linear;
    }
    60% {
        transform: translate3d(26.25rem, -1.5rem, 0rem);
        animation-timing-function: linear;
    }
    80% {
        transform: translate3d(42rem, -1rem, 0rem);
        animation-timing-function: linear;
    }
    100% {
        transform: translate3d(53rem, -1rem, 0rem);
    }
}
#lane5Out {
    transform: translate3d(-25.7rem, -1rem, 0rem);
}