/* lane is used to position the driver in that lane and move them across the track, 
laneSet sets them in starting position, laneOut is for when they're not set to race, 
laneSlow is for below average race time and laneFast is for above average race time */

.lane1 {
    z-index: 10;
    grid-area: 2/1;
    width: 96px;
    position: absolute;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    height: 48px;
}

#lane1Set {
    transition: 2s linear;
    transform: translate3d(-328px, -115.2px, 0px);
}

#lane1Slow {
    animation-name: lane1Slow;
    animation-fill-mode: forwards;
}

@keyframes lane1Slow {
    0% {
        transform: translate3d(-328px, -115.2px, 0px);
        animation-timing-function: cubic-bezier(.58, 0, .75, .76);
    }

    17% {
        transform: translate3d(-124px, -112px, 0px);
        animation-timing-function: linear;
    }

    40% {
        transform: translate3d(128px, -116.8px, 0px);
        animation-timing-function: linear;
    }

    60% {
        transform: translate3d(380px, -113.6px, 0px);
        animation-timing-function: linear;
    }

    80% {
        transform: translate3d(600px, -115.2px, 0px);
        animation-timing-function: linear;
    }

    100% {
        transform: translate3d(760px, -113.6px, 0px);
    }
}

#lane1Medium {
    animation-name: lane1Medium;
    animation-fill-mode: forwards;
}

@keyframes lane1Medium {
    0% {
        transform: translate3d(-328px, -115.2px, 0px);
        animation-timing-function: cubic-bezier(.58, 0, .75, .76);
    }

    17% {
        transform: translate3d(-164px, -113px, 0px);
        animation-timing-function: linear;
    }

    40% {
        transform: translate3d(70px, -120.8px, 0px);
        animation-timing-function: linear;
    }

    60% {
        transform: translate3d(330px, -110.6px, 0px);
        animation-timing-function: linear;
    }

    80% {
        transform: translate3d(600px, -117.2px, 0px);
        animation-timing-function: linear;
    }

    100% {
        transform: translate3d(760px, -113.6px, 0px);
    }

}

#lane1Fast {
    animation-name: lane1Fast;
    animation-fill-mode: forwards;
}

@keyframes lane1Fast {
    0% {
        transform: translate3d(-328px, -115.2px, 0px);
        animation-timing-function: cubic-bezier(.58, 0, .75, .76);
    }

    23% {
        transform: translate3d(-92px, -112px, 0px);
        animation-timing-function: linear;
    }

    40% {
        transform: translate3d(108px, -116.8px, 0px);
        animation-timing-function: linear;
    }

    60% {
        transform: translate3d(364px, -113.6px, 0px);
        animation-timing-function: linear;
    }

    80% {
        transform: translate3d(600px, -115.2px, 0px);
        animation-timing-function: linear;
    }

    100% {
        transform: translate3d(760px, -115.2px, 0px);
    }

}

#lane1Out {
    transform: translate3d(-414.4px, -115.2px, 0px);
}


.lane2 {
    z-index: 11;
    grid-area: 3/1;
    width: 96px;
    position: absolute;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    height: 48px;
}

#lane2Set {
    transition: 2s ease-in-out;
    transform: translate3d(-340.8px, -91.2px, 0px);
}

#lane2Slow {
    animation-name: lane2Slow;
    animation-fill-mode: forwards;
}

@keyframes lane2Slow {
    0% {
        transform: translate3d(-340.8px, -91.2px, 0px);
        animation-timing-function: ease-in;
    }

    23% {
        transform: translate3d(-180px, -88px, 0px);
        animation-timing-function: linear;
    }

    40% {
        transform: translate3d(40px, -94.4px, 0px);
        animation-timing-function: linear;
    }

    60% {
        transform: translate3d(340px, -88px, 0px);
        animation-timing-function: linear;
    }

    80% {
        transform: translate3d(606.4px, -91.2px, 0px);
        animation-timing-function: linear;
    }

    100% {
        transform: translate3d(768px, -91.2px, 0px);
    }
}

#lane2Medium {
    animation-name: lane2Medium;
    animation-fill-mode: forwards;
}

@keyframes lane2Medium {
    0% {
        transform: translate3d(-340.8px, -91.2px, 0px);
        animation-timing-function: linear;
    }

    3% {
        transform: translate3d(-338.8px, -89.2px, 0px);
        animation-timing-function: linear;
    }

    5% {
        transform: translate3d(-342.8px, -91.2px, 0px);
        animation-timing-function: linear;
    }

    7% {
        transform: translate3d(-340.8px, -88.2px, 0px);
        animation-timing-function: linear;
    }

    8% {
        transform: translate3d(-339.8px, -87.2px, 0px);
        animation-timing-function: linear;
    }

    10% {
        transform: translate3d(-342.8px, -87.2px, 0px);
        animation-timing-function: linear;
    }

    12% {
        transform: translate3d(-340.8px, -90.2px, 0px);
        animation-timing-function: linear;
    }

    23% {
        transform: translate3d(-110px, -90px, 0px);
        animation-timing-function: linear;
    }

    40% {
        transform: translate3d(150px, -85.4px, 0px);
        animation-timing-function: linear;
    }

    60% {
        transform: translate3d(370px, -88px, 0px);
        animation-timing-function: linear;
    }

    80% {
        transform: translate3d(606.4px, -91.2px, 0px);
        animation-timing-function: linear;
    }

    100% {
        transform: translate3d(768px, -91.2px, 0px);
    }
}

#lane2Fast {
    animation-name: lane2Fast;
    animation-fill-mode: forwards;
}

@keyframes lane2Fast {
    0% {
        transform: translate3d(-340.8px, -91.2px, 0px);
        animation-timing-function: ease-in;
    }

    23% {
        transform: translate3d(-164px, -94.4px, 0px);
        animation-timing-function: linear;
    }

    40% {
        transform: translate3d(24px, -91.2px, 0px);
        animation-timing-function: linear;
    }

    60% {
        transform: translate3d(308px, -92.8px, 0px);
        animation-timing-function: linear;
    }

    80% {
        transform: translate3d(606.4px, -91.2px, 0px);
        animation-timing-function: linear;
    }

    100% {
        transform: translate3d(768px, -91.2px, 0px);
    }
}

#lane2Out {
    transform: translate3d(-416px, -91.2px, 0px);
}


.lane3 {
    z-index: 12;
    grid-area: 4/1;
    width: 96px;
    position: absolute;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    height: 48px;
}

#lane3Set {
    transition: 2s ease-out;
    transform: translate3d(-304px, -66.8px, 0px);
}

#lane3Slow {
    animation-name: lane3Slow;
    animation-fill-mode: forwards;
}

@keyframes lane3Slow {
    0% {
        transform: translate3d(-304px, -66.8px, 0px);
        animation-timing-function: cubic-bezier(.58, 0, .75, .76);
    }

    23% {
        transform: translate3d(-108px, -82.8px, 0px);
        animation-timing-function: linear;
    }

    40% {
        transform: translate3d(128px, -76.4px, 0px);
        animation-timing-function: linear;
    }

    60% {
        transform: translate3d(450px, -90.8px, 0px);
        animation-timing-function: linear;
    }

    80% {
        transform: translate3d(649.6px, -81.2px, 0px);
        animation-timing-function: linear;
    }

    100% {
        transform: translate3d(832px, -66.8px, 0px);
    }
}

#lane3Medium {
    animation-name: lane3Medium;
    animation-fill-mode: forwards;
}

@keyframes lane3Medium {
    0% {
        transform: translate3d(-304px, -66.8px, 0px);
        animation-timing-function: cubic-bezier(.58, 0, .75, .76);
    }

    23% {
        transform: translate3d(-50px, -96.8px, 0px);
        animation-timing-function: linear;
    }

    40% {
        transform: translate3d(198px, -83.4px, 0px);
        animation-timing-function: linear;
    }

    60% {
        transform: translate3d(420px, -80.8px, 0px);
        animation-timing-function: linear;
    }

    80% {
        transform: translate3d(649.6px, -73.2px, 0px);
        animation-timing-function: linear;
    }

    100% {
        transform: translate3d(832px, -66.8px, 0px);
    }
}

#lane3Fast {
    animation-name: lane3Fast;
    animation-fill-mode: forwards;
}

@keyframes lane3Fast {
    0% {
        transform: translate3d(-304px, -66.8px, 0px);
        animation-timing-function: cubic-bezier(.58, 0, .75, .76);
    }

    23% {
        transform: translate3d(-92px, -78px, 0px);
        animation-timing-function: linear;
    }

    40% {
        transform: translate3d(128px, -86px, 0px);
        animation-timing-function: linear;
    }

    60% {
        transform: translate3d(356px, -74.8px, 0px);
        animation-timing-function: linear;
    }

    80% {
        transform: translate3d(649.6px, -81.2px, 0px);
        animation-timing-function: linear;
    }

    100% {
        transform: translate3d(832px, -66.8px, 0px);
    }

}

#lane3Out {
    transform: translate3d(-401.6px, -74.8px, 0px);
}


.lane4 {
    z-index: 13;
    grid-area: 5/1;
    width: 96px;
    height: 48px;
    position: absolute;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

#lane4Set {
    transition: 2s ease-out;
    transform: translate3d(-320px, -40px, 0px);
}

#lane4Slow {
    animation-name: lane4Slow;
    animation-fill-mode: forwards;
}

@keyframes lane4Slow {
    0% {
        transform: translate3d(-320px, -40px, 0px);
        animation-timing-function: cubic-bezier(.58, 0, .75, .76);
    }

    23% {
        transform: translate3d(-116px, -41.6px, 0px);
        animation-timing-function: linear;
    }

    25% {
        transform: translate3d(-120px, -40.6px, 0px);
        animation-timing-function: linear;
    }

    40% {
        transform: translate3d(120px, -41.6px, 0px);
        animation-timing-function: linear;
    }

    60% {
        transform: translate3d(372px, -40px, 0px);
        animation-timing-function: linear;
    }

    80% {
        transform: translate3d(651.2px, -35.2px, 0px);
        animation-timing-function: linear;
    }

    100% {
        transform: translate3d(832px, -38.4px, 0px);
    }
}

#lane4Medium {
    animation-name: lane4Medium;
    animation-fill-mode: forwards;
}

@keyframes lane4Medium {
    0% {
        transform: translate3d(-320px, -40px, 0px);
        animation-timing-function: cubic-bezier(.58, 0, .75, .76);
    }

    23% {
        transform: translate3d(-140px, -41.6px, 0px);
        animation-timing-function: linear;
    }

    40% {
        transform: translate3d(90px, -41.6px, 0px);
        animation-timing-function: linear;
    }

    58% {
        transform: translate3d(440px, -40px, 0px);
        animation-timing-function: linear;
    }

    60% {
        transform: translate3d(445px, -45px, 0px);
        animation-timing-function: linear;
    }

    80% {
        transform: translate3d(651.2px, -35.2px, 0px);
        animation-timing-function: linear;
    }

    100% {
        transform: translate3d(832px, -38.4px, 0px);
    }
}

#lane4Fast {
    animation-name: lane4Fast;
    animation-fill-mode: forwards;
}

@keyframes lane4Fast {
    0% {
        transform: translate3d(-320px, -40px, 0px);
        animation-timing-function: cubic-bezier(.58, 0, .75, .76);
    }

    23% {
        transform: translate3d(-100px, -36.8px, 0px);
        animation-timing-function: linear;
    }

    40% {
        transform: translate3d(134px, -41.6px, 0px);
        animation-timing-function: linear;
    }

    60% {
        transform: translate3d(380px, -40px, 0px);
        animation-timing-function: linear;
    }

    80% {
        transform: translate3d(651.2px, -41.6px, 0px);
        animation-timing-function: linear;
    }

    100% {
        transform: translate3d(832px, -38.4px, 0px);
    }
}

#lane4Out {
    transform: translate3d(-412.8px, -40px, 0px);
}


.lane5 {
    z-index: 14;
    grid-area: 6/1;
    width: 96px;
    height: 48px;
    position: absolute;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

#lane5Set {
    transition: 2s ease-out;
    transform: translate3d(-315.2px, -16px, 0px);
}

#lane5Slow {
    animation-name: lane5Slow;
    animation-fill-mode: forwards;
}

@keyframes lane5Slow {
    0% {
        transform: translate3d(-315.2px, -16px, 0px);
        animation-timing-function: ease-in;
    }

    23% {
        transform: translate3d(-52px, -24px, 0px);
        animation-timing-function: linear;
    }

    40% {
        transform: translate3d(194px, -8px, 0px);
        animation-timing-function: linear;
    }

    60% {
        transform: translate3d(446px, -24px, 0px);
        animation-timing-function: linear;
    }

    80% {
        transform: translate3d(672px, -16px, 0px);
        animation-timing-function: linear;
    }

    100% {
        transform: translate3d(848px, -16px, 0px);
    }
}

#lane5Medium {
    animation-name: lane5Medium;
    animation-fill-mode: forwards;
}

@keyframes lane5Medium {
    0% {
        transform: translate3d(-315.2px, -16px, 0px);
        animation-timing-function: ease-in;
    }

    23% {
        transform: translate3d(-52px, -20px, 0px);
        animation-timing-function: linear;
    }

    40% {
        transform: translate3d(140px, -14px, 0px);
        animation-timing-function: linear;
    }

    60% {
        transform: translate3d(400px, -34px, 0px);
        animation-timing-function: linear;
    }

    80% {
        transform: translate3d(672px, -20px, 0px);
        animation-timing-function: linear;
    }

    100% {
        transform: translate3d(848px, -16px, 0px);
    }
}

#lane5Fast {
    animation-name: lane5Fast;
    animation-fill-mode: forwards;
}

@keyframes lane5Fast {
    0% {
        transform: translate3d(-315.2px, -16px, 0px);
        animation-timing-function: ease-in;
    }

    23% {
        transform: translate3d(-42px, -24px, 0px);
        animation-timing-function: linear;
    }

    40% {
        transform: translate3d(168px, -8px, 0px);
        animation-timing-function: linear;
    }

    60% {
        transform: translate3d(380px, -24px, 0px);
        animation-timing-function: linear;
    }

    80% {
        transform: translate3d(672px, -16px, 0px);
        animation-timing-function: linear;
    }

    100% {
        transform: translate3d(848px, -16px, 0px);
    }
}

#lane5Out {
    transform: translate3d(-411.2px, -16px, 0px);
}